numpy
argparse
scikit-learn
sklearn
pandas
scipy
pickle5
python-math
opencv-python
Pillow
Click
Flask
gunicorn
itsdangerous
Jinja2
MarkupSafe
Werkzeug
urllib3
joblib
threadpoolctl
